extends layout

block content
  h1= title

  // Wrapper
  #wrapper


    // SEARCH USER
    h2 Search Film
    #searchFilm
      fieldset
        input#inputFilm(type='text', placeholder='Film')
        button#btnSearchFilm Search Film
    // /SEARCH USER

    // FILM LIST
    h2 Film List
    #filmList
      table
        thead
          th original_title
          th release_date
          th Detail
        tbody
    // /FILM LIST


    // FILM INFO
    #filmInfo
      h2 Film Info
      p
        strong Titre:
        |  <span id='filmInfoOriginal_title'></span>
        br
        strong Date de sortie:
        |  <span id='filmInfoRelease_date'></span>
        br
        strong Synosis:
        |  <span id='filmInfoOverview'></span>
        br
        strong Popularité:
        |  <span id='filmInfoPopularity'></span>
        br
        |  <img id='filmInfoPoster_path'   width="180"></img>

    // /FILM INFO

    //
    #filmDetail
      #myModal.modal-content
        #modal-header.modal-header
          span.close &times;
          h2#XfilmInfoOriginal_title Titre
        #modal-body.modal-body
          p
            strong Titre (fr):
            |  <span id='XfilmInfoTitle'></span>
            br
            strong Metteur en scene:
            |  <a href="#" class="linkshowfilm"  id='XfilmInfoCrew_Name0'></a>
            br
            strong Synosis:
            |  <span id='XfilmInfoOverview'></span>
            br
            strong Popularité:
            |  <span id='XfilmInfoPopularity'></span>
            br
            table
              tbody
                tr
                  td
                    |  <img id='XfilmInfoPoster_path'   width="180"></img>
                  td.filmdetail
                    table
                      tbody
                        tr
                          td(colspan = "3")
                            strong Genre :
                            |  <span id='XfilmInfoGenre'>Coucocu</span>
                            br
                            strong pays :
                            | <span id='XfilmInfoProduction_country'></span>
                        tr
                          td
                            |  <img id='XfilmInfoCredits_Cast_profile_path0'   width="90"></img>
                          td
                            |  <img id='XfilmInfoCredits_Cast_profile_path1'   width="90"></img>
                          td
                            |  <img id='XfilmInfoCredits_Cast_profile_path2'   width="90"></img>
                        tr
                          td
                            |  <B><A id='XfilmInfoCredits_Cast_name0' href='#'></A></B><br>
                            |  <span id='XfilmInfoCredits_Cast_character0'></span>
                          td
                            |  <B><A id='XfilmInfoCredits_Cast_name1' href='#'></A></B><br>
                            |  <span id='XfilmInfoCredits_Cast_character1'></span>
                          td
                            |  <B><A id='XfilmInfoCredits_Cast_name2' href='#'></A></B><br>
                            |  <span id='XfilmInfoCredits_Cast_character2'></span>
                        tr
                          td
                            br
                            br
                            br
        #modal-footer.modal-footer
          h3#XfilmInfoRICO_path Modal Footer
          |  <span id='XfilmInfoSize'></span>
    // /DETAIL

  // /WRAPPER
