doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='/javascripts/request.js')


    //script( src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ,crossorigin="anonymous")
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", crossorigin="anonymous")
    //script( src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ,crossorigin="anonymous")


block content2
  #wrapper_request
    // REQUEST LIST
    h5#liste_resultat Liste des requetes :
    #requestList
      table
        thead
          th Username
          th id
          th title
          th serveur
          th path
          th file
          th size
          th date(fichier)
          th status
        tbody
    // REQUEST LIST
