doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
  body
    block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='../javascripts/users.js')



block content3
  #wrapper_request
    // USER LIST
    h5#liste_resultat Liste des utilisateurs :
    #requestList
      table
        thead
          th username
          th email
          th roles         
          th status
        tbody
    // USER LIST
