body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#wrapper {
	padding-left:312px;
	position:relative;
}

#filmList {
	margin:0 0 30px 0;
}
	#filmList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#filmList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#filmList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#filmList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

#filmInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#filmInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

.filmdetail {
 valign:"top";
 }

fieldset {
	border:0;
	padding:0; margin:0;
}


#wrapper_request {
	padding-left:20px;
	position:relative;
}

#requestList table {
  border-collapse:separate;
  border-spacing:1px;
  background:#CCC;
}
  #requestList table th {
    background:#EEE;
    font-weight:500;
    padding:10px 20px;
    text-align:center;
  }
  #requestList table tbody {
    padding:0; margin:0;
    border-collapse:collapse;
    border-spacing:0px;
  }
    #requestList table td {
      background:#FFF;
      padding:5px 10px;
      text-align:center;
    }


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: absolute;
    top: 1em;
    right: 2%;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 98%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}



.modal-body {padding: 2px 16px;}
.modal-body-request {padding: 2px 16px;font-size: 12px}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: #5cb85c ;
    /*  color: white; */
}
